html,
body {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://cn.bing.com/th?id=OHR.TicanFrog_ZH-CN8949758487_1080x1920.jpg&rf=LaDigue_1080x1920.jpg&pid=HpEdgeAn');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -2;
}