html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-bottom: calc(60px + env(safe-area-inset-bottom, 0px));
    color: aliceblue;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://cn.bing.com/th?id=OHR.TicanFrog_ZH-CN8949758487_1080x1920.jpg&rf=LaDigue_1080x1920.jpg&pid=HpEdgeAn');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1000;
}

/* 调整背景的磨砂 */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(18, 18, 18, 0.65);
    /* 透明度从0.3减弱为0.15 */
    backdrop-filter: blur(0px);
    /* 模糊值从5px减弱为2px */
    z-index: -99;
}





/* 底部导航栏 */
#bottom-nav {
    position: fixed;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: calc(45px + env(safe-area-inset-bottom, 0px));
    /* 适配 iPhone X 及以上 */
    background: rgba(30, 30, 30, 0.4);
    /* 可调透明度 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #333;
    padding-bottom: env(safe-area-inset-bottom, 0px);
    /* 确保导航栏不留白 */
    backdrop-filter: blur(2px);
    /* 适当调整模糊效果 */
    -webkit-backdrop-filter: blur(10px);
    z-index: 980;
    /* 确保底部栏在其他元素之上 */
}

/* 底部栏按钮 */
.nav-button {
    flex: 1;
    text-align: center;
    color: #aaa;
    font-size: 16px;
    padding: 0 0 -10px 0;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-button.nav-active {
    color: #f39c12;
    font-weight: bold;
    border-bottom: 2px solid #f39c12;
}

/* 隐藏滚动条但保留滚动功能 */
#main-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    /* 允许垂直滚动 */
    -webkit-overflow-scrolling: touch;
    /* 平滑滚动效果 */
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: calc(80px + env(safe-area-inset-bottom, 0px));
    padding-top: calc(20px + env(safe-area-inset-top, 0px));
    scrollbar-width: none;
    /* Firefox */
}

/* 隐藏 WebKit 浏览器的滚动条 */
#main-container::-webkit-scrollbar {
    display: none;
}


/* 等待动画加载 */
#loading-results {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.loading-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loading-animation {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(243, 156, 18, 0.2);
    border-radius: 50%;
    border-top-color: #f39c12;
    animation: spin 1s ease-in-out infinite;
    margin: 20px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-text {
    color: #f39c12;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}